.container {
  border: thin solid #868484;
  background-color: whitesmoke;
  width: 250px;
  height: 250px;

  .track {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #333333 thin solid;
    margin-bottom: 5px;
  }
}
