.header {
  display: flex;
  justify-content: center;
  .search-bar {
    @media (min-width: 480px){
      input {
        width: 500px;
      }
    }
    @media (max-width: 480px){
      input {
        width: 200px;
      }
    }

    button {
      margin-left: 15px;
    }

  }
}

